params {

input_dir = './data/'
recursive_search = false
output_dir = './results'

fastq_pattern = '*R{1,2}*.fastq.gz'
threads = 4
single_read = false

// fragment args only used when single_read is set to true
fragment_length = 200
fragment_deviation = 20

transcriptome_index = null

}

profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '12h'
          memory = '32GB'
          cpus = 8
          queue = 'himem'
          clusterOptions = '--job-name=kallisto'
          withLabel: kallisto {
            module = 'kallisto'
          }
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '64G'
  }
}

