params {

input_dir = './data/'
recursive_search = false
output_dir = './results'


fastq_pattern = '*R{1,2}*.fastq.gz'
threads = 4
chemistry = '10xv3'
read_parity = 'paired'
strand = 'unstranded'

max_memory = '16G'
gene_map = null
transcriptome_index = null

transcript_fasta = null
primary_fasta = null
gtf = null

}

profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '12h'
          memory = '65GB'
          cpus = 8
          queue = 'veryhimem'
          clusterOptions = '--job-name=kb-python'
          withLabel: kb_python {
            module = 'python3'
          }
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '64G'
  }
}

