params {

cellranger.fastq_pattern = '*_R{1,2}*.fastq.gz'
cellranger.input_dir = '.input/'
cellranger.output_dir = './results'
cellranger.ref = ''
cellranger.sample_sheet = ''
cellranger.include_introns = true
cellranger.expected_cells = 3000
}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '12h'
          memory = '65GB'
          cpus = 8
          queue = 'veryhimem'
          clusterOptions = '--job-name=cellranger_count'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '64G'
  }
}
