params {

merge_fastqs = true
ref = ''
sample_list = ''
kit = 'WT'
mode = 'all'
sublibrary = ''
combine = true
fastq_pattern = '*_R{1,2}*.fastq.gz'
tracedir = "${params.output_dir}/pipeline_info"
}

includeConfig '../../modules/fastqc_multiqc/nextflow.config'
includeConfig '../../modules/scrublet/nextflow.config'
includeConfig '../../modules/split-pipe/nextflow.config'


profiles {
  slurm_h4h {
      process {
          // boilerplate cluster options
          executor='slurm'
          time = '24h'
          cpus = 8

          withLabel: fastqc {

            module = 'fastqc'
            memory = '32GB'
            queue = 'himem'
            clusterOptions = '--job-name=fastqc'
          }
          withLabel: multiqc {

            module = 'multiqc'
            memory = '32GB'
            queue = 'himem'
            clusterOptions = '--job-name=multiqc'
          }
          withLabel: splitpipe {

            module = 'ParseBiosciences/0.9.6p'
            memory = '128GB'
            queue = 'veryhimem'
            clusterOptions = '--job-name=splitpipe-pb'
          }

          withLabel: scrublet {
            
            module = 'python3'
            memory = '128GB'
            queue = 'veryhimem'
            clusterOptions = '--job-name=scrublet'
          }
       }

   }
  standard {
     executor='local'
     cpus = 8
     memory = '128G'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
  name = 'scRNA-utils_split-pipe'
  author = 'GaitiLab UHN'
  homePage = 'https://github.com/GaitiLab/scRNA-utils'
  description = 'Nextflow module for scRNA assays'
  mainScript = 'main.nf'
  nextflowVersion = '>=21.04.0'
}


