params {

//boilerplate parameters
output_dir = 'epianeuFinder_results/'


epianeu.input_fragments = 'input.csv'
epianeu.blacklist = 'blacklist_hg38.bed'
epianeu.minfrags = [500, 1000, 2000, 5000, 10000]
epianeu.ref_genome = 'BSgenome.Hsapiens.UCSC.hg38'
epianeu.window = 100000
epianeu.numcores = 4
epianeu.title = 'epianeuFinder_multiome'

}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '16h'
          memory = '32GB'
          cpus = 4
          queue = 'himem'
          clusterOptions = '--job-name=epianeuFinder_HPC'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '32G'
  }
}
