params {

input_pattern = './input/*_R{1,2}*.fastq.gz'
multiqc = true
output_dir = './results'
multiqc_title = "MultiQC_Output"

}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '4h'
          memory = '4GB'
          queue = 'all'
          clusterOptions = '--job-name=fastqc_multiqc'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '16G'
  }
}


