params {

//boilerplate parameters

input_dir = './input/'
recursive_search = false
fastq_pattern = '*_R{1,2}*.fastq.gz'
output_dir = './results'
multiqc = true
multiqc_title = "MultiQC_Output"

}


profiles {
  slurm_h4h {
      process {
          // boilerplate cluster options
          executor='slurm'
          time = '24h'
          cpus = 8

          withLabel: fastqc {

            module = 'fastqc'
            memory = '32GB'
            queue = 'himem'
            clusterOptions = '--job-name=fastqc'
          }
          withLabel: multiqc {

            module = 'multiqc'
            memory = '32GB'
            queue = 'himem'
            clusterOptions = '--job-name=multiqc'
          }
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '128G'
  }
}
