params {

input_pattern = './input/*_R{1,2}*.fastq.gz'
multiqc = true
output_dir = './results'
multiqc_title = "MultiQC_Output"
tracedir = "${params.output_dir}/pipeline_info"

}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '4h'
          memory = '4GB'
          queue = 'all'
          clusterOptions = '--job-name=fastqc_multiqc'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '16G'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
  name = 'scRNA-utils_fastqc_multiqc'
  author = 'GaitiLab UHN'
  homePage = 'https://github.com/GaitiLab/scRNA-utils'
  description = 'Nextflow module for fastqc and multiqc'
  mainScript = 'main.nf'
  nextflowVersion = '>=21.04.0'
}


