params {

fastqc.input_pattern = './input/*_R{1,2}*.fastq.gz'
fastqc.multiqc = true
fastqc.output_dir = './results'
multiqc.multiqc_title = "MultiQC_Output"

}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '24h'
          memory = '128GB'
          cpus = 8
          queue = 'veryhimem'
          clusterOptions = '--job-name=fastqc-multiqc'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '128G'
  }
}
