params {

fastq_pattern = '*_R{1,2}*.fastq.gz'
input_dir = '.input/'
output_dir = './results'
transcriptome_ref = ''
sample_sheet = ''


}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '4h'
          memory = '4GB'
          queue = 'all'
          clusterOptions = '--job-name=fastqc_multiqc'
       }
   }
  standard {
     executor='local'
     cpus = 4
     memory = '4G'
  }
}
