params {

fastq_pattern = '*_R{1,2}*.fastq.gz'
input_dir = '.input/'
output_dir = './results'
transcriptome_ref = ''
sample_sheet = ''
include_introns = true
expected_cells = 3000
}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '4h'
          memory = '65GB'
          queue = 'veryhimem'
          clusterOptions = '--job-name=cellranger_count'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '64G'
  }
}
