params {

//boilerplate parameters

method = "cellranger"
}

includeConfig '../../modules/fastqc_multiqc/nextflow.config'
includeConfig '../../modules/scrublet/nextflow.config'
includeConfig '../../modules/cellranger/nextflow.config'
includeConfig '../../modules/split-pipe/nextflow.config'


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '24h'
          memory = '128GB'
          cpus = 8
          queue = 'veryhimem'
          clusterOptions = '--job-name=splitpipe_pb'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '128G'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
  name = 'scRNA-utils_scRNA'
  author = 'GaitiLab UHN'
  homePage = 'https://github.com/GaitiLab/scRNA-utils'
  description = 'Nextflow module for scRNA assays'
  mainScript = 'main.nf'
  nextflowVersion = '>=21.04.0'
}


