params {

merge_fastqs = true
ref = 'none'
sample_list = 'none'
kit = 'WT'
mode = 'all'
sublibrary = ['Parse-5K-1', 'Parse-5K-2']

}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '24h'
          memory = '128GB'
          cpus = 8
          queue = 'veryhimem'
          clusterOptions = '--job-name=splitpipe_pb'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '128G'
  }
}
