params {

merge_fastqs = true
ref = ''
sample_list = ''
kit = 'WT'
mode = 'all'
sublibrary = ''
combine = true
}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '24h'
          memory = '128GB'
          cpus = 8
          queue = 'veryhimem'
          clusterOptions = '--job-name=splitpipe_pb'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '128G'
  }
}
