params {

input_dir = './fastq/'
output_dir = './results/'
merge_fastqs = true
recursive_search = false
ref = null
sample_list = null
chemistry = 'v2'
mode = 'all'
sublibrary = null
combine = true
fastq_pattern = '*_R{1,2}*.fastq.gz'
}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '24h'
          cpus = 8
          withLabel: splitpipe {

            module = 'ParseBiosciences/1.0.4p'
            memory = '128GB'
            queue = 'veryhimem'
            clusterOptions = '--job-name=splitpipe-pb'
            
          }
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '128G'
  }
}
