params {

input_fragments = 'input.csv'
output_dir = 'epianeuFinder_results/'
blacklist = 'blacklist_hg38.bed'
minfrags = [500, 1000, 2000, 5000, 10000]
ref_genome = 'BSgenome.Hsapiens.UCSC.hg38'
window = 100000
numcores = 4
title = 'epianeuFinder_multiome'

}


profiles {
  slurm_h4h {
      process {
          executor='slurm'
          time = '16h'
          memory = '32GB'
          cpus = 4
          queue = 'himem'
          clusterOptions = '--job-name=epianeuFinder_HPC'
       }
   }
  standard {
     executor='local'
     cpus = 8
     memory = '32G'
  }
}
